<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="bersamaEntities" connectionString="metadata=res://*/mydata.csdl|res://*/mydata.ssdl|res://*/mydata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=bersama;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="desktop-f1d5vp5\sqlexpress.ujicoba2.dbo" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=ujicoba2" />
  <add name="desktop-f1d5vp5\sqlexpress.relasi1.dbo" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=relasi1" />
  <add name="pemilihanosisnew.My.MySettings.relasi1ConnectionString1"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=relasi1;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="pemilihanosisnew.My.MySettings.pemilihanosisConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=pemilihanosis;User ID=rizky;Password=cswxspeed"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>